<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyl.mapper.UmsFarmhouseMapper">
    
    <resultMap type="UmsFarmhouse" id="UmsFarmhouseResult">
        <result property="id" column="id"/>
        <result property="pic" column="pic"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createtime" column="createtime"/>
    </resultMap>

    <sql id="selectUmsFarmhouseVo">
        select id, pic, title, content, createtime  from ums_farmhouse
    </sql>

    <select id="selectByEntity" parameterType="UmsFarmhouse" resultMap="UmsFarmhouseResult">
        <include refid="selectUmsFarmhouseVo"/>
        <where>  
            <if test="pic != null  and pic != ''"> and pic = #{pic}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="createtime != null "> and createtime = #{createtime}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update ums_farmhouse set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
